
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------->> */



.view-delete{
    /* border: 3px solid rgb(17, 9, 255); */
    
    /* border: 3px solid rgb(17, 9, 255); */
    margin-left: 200px;
    margin-top: 90px;
        width: 100%-200px;
        height: 100%;
        
        
        
    }

    .admin_delete_forms{
        width:70%
    }
    .view-delete  .admin_delete_forms h2{
        color: #fff;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }
    .view-delete .admin_option  .admin_delete_forms .admin_option_head{
        background-color: rgb(0, 61, 122);
        border-radius:5px 5px 0 0 ;
        /* color: #000; */
    }
    .modal-content-delete{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(0, 61, 122);
    border-radius:0 0 8px 8px;

}

.admin_delete_forms{
    width: 70%;
    margin: 50px 8%;
}
.view-delete-delete .add_citizen{
    margin-top: 25px;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}





.admin_option_delete{
    width: 60vw;
}


